<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link href='{% url feeds url="rss2_0" %}' type="application/rss+xml" 
            rel="alternate" title="RSS">
    <script src='{% url static path="javascript/blog.js" %}' 
            type="text/javascript"></script>
    <style media="screen" type="text/css">
        @import '{% url static path="css/style.css" %}';
    </style>
    <title>{% block title %}The Nicole Blogging Platform{% endblock %}</title>
</head>
<body>
    <div id="header">
        {% block header %}
        <h1><a href="{% url index %}">Eric Evans's Weblog</a></h1>
        <em>"It sounded like a baby humpback whale!"</em>
        {% endblock %}
    </div>
    <div id="container">
        {% block sidebar %}{% endblock %}

        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        <p>Copyright &copy; 2008 Eric Evans, powered by 
            <a href="http://www.djangoproject.com">Django</a>.</p>
    </div><!-- end footer -->
</body>
</html>

<!-- 
vi: ai sw=4 ts=4 tw=0 et
-->

