
<h2>Links</h2>
<ul>
    <li><a href="http://git.sym-link.com">Git Repositories</a></li>
    <li><a href="http://qa.debian.org/developer.php?login=eevans&comaint=yes">
        Debian QA Page</a></li>
</ul>

<h2>Blogroll</h2>
<ul>
    <li><a href="http://planet.debian.org/">Planet Debian</a></li>
    <li><a href="http://pfroutan.blogspot.com/">Paul Froutan</a></li>
    <li><a href="http://spoonix.blogspot.com/">Kelley Spoon</a></li>
    <li><a href="http://blogs.opennms.org/">Tarus Balog</a></li>
    <li><a href="http://andrewhammel.typepad.com/german_joys/">
            German Joys</a></li>
    <li><a href="http://blog.bearstrong.net/">Bjorn Staerk</a></li>
    <li><a href="http://www.violentacres.com/">Violent Acres</a></li>
</ul>

<!--
vi:ai sw=4 ts=4 tw=0 et
-->
