
{% extends "base.html" %}
{% load markup %}

{% block title %}Eric Evans's Weblog{% endblock %}

{% block header %}<h1>Editing...</h1>{% endblock %}

{% block content %}
    {% if entry %}
    <fieldset id="preview">
        <legend>Preview (<a href="#editor">skip</a>)</legend>
        <h1>{{ entry.title }}</h1>
        {{ entry.content|markdown }}
    </fieldset>
    {% endif %}
    <div id="editor">
        <form action="{% url save entry.id %}" method="POST">
            <table>
                <tr>
                    <td>
                    {{ form.title }}
                    {% if form.title.errors %}
                        <!-- form submission errors -->
                        {% for error in form.title.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                    {{ form.content }}
                    {% if form.content.errors %}
                        <!-- form submission errors -->
                        {% for error in form.content.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                    {{ form.tags }} Tags (space delimited)&nbsp;
                    {% if form.tags.errors %}
                        <!-- form submission errors -->
                        {% for error in form.tags.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    {% endif %}
                    </td>
                </tr>
            </table>
            <p>
                <input type="submit" name="save" value="Save" />
                <input type="submit" name="publish" value="Publish" />
                <input type="submit" name="quit" value="Cancel" />
                {{ form.entry_id }}
            </p>
        </form>
    </div>
{% endblock %}

<!-- 
vi: ai sw=4 ts=4 tw=0 et
-->
